---
import { getCollection, type CollectionEntry } from "astro:content";
import Main from "../../layouts/Main.astro";
import { AppConfig } from "../../config/AppConfig";
import PageHeader from "../../components/PageHeader.astro";
import PostCard from "../../components/blog/PostCard.astro";

const allPosts = (await getCollection("blog"))

const posts = allPosts.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<Main
  meta={{
    title: `Blog | ${AppConfig.title}`,
    description: AppConfig.description,
  }}
>
  <div class="pb-8 pt-2">
    <PageHeader
      title="Writing"
      emoji="📝"
      description="System logs on life, SaaS, and engineering."
    />

    <div class="mt-12 space-y-1">
      {posts.map((post: CollectionEntry<"blog">, idx: number) => (
        <PostCard post={post} index={idx} />
      ))}
    </div>
  </div>
</Main>
