---
interface Props {
  book: {
    title: string;
    author_name: string | string[];
    book_large_image_url: string;
    link: string;
  };
}

const { book } = Astro.props;
---

<div class="flex flex-col items-center justify-start space-y-3 py-6">
  <div
    class="h-[200px] w-[150px] rounded-lg bg-cover bg-center bg-no-repeat drop-shadow-lg"
    style={`background-image: url(${book.book_large_image_url})`}
  />

  <a href={book.link} target="_blank" class="plain">
    <h3 class="m-2 text-center text-lg font-normal dark:text-white">
      {book.title}
    </h3>
  </a>

  <div class="flex items-center rounded-full bg-gray-200 px-2 text-xxs text-gray-800 dark:bg-zinc-700 dark:text-gray-400 dark:ring-white/10">
    <span class="inline-flex truncate font-normal">
      {Array.isArray(book.author_name)
        ? book.author_name.join(', ')
        : book.author_name}
    </span>
  </div>
</div>