---
import { AppConfig } from "../config/AppConfig";
---

<footer class="pb-10">
	<div class="flex flex-col items-center justify-center gap-3 p-2">
		<ul class="flex items-center gap-5 text-center">
			<li>
				<a
					class="plain text-xs text-gray-400 dark:text-gray-600"
					href="/press-kit"
				>
					Press Kit
				</a>
			</li>
			<li>
				<a
					class="plain text-xs text-gray-400 dark:text-gray-600"
					href="https://skcript.com"
					target="_blank"
				>
					Skcript
				</a>
			</li>
			<li>
				<a
					class="plain text-xs text-gray-400 dark:text-gray-600"
					href="https://developers.google.com/profile/u/varunrajm"
					target="_blank"
				>
					Developer Profile
				</a>
			</li>
			<li>
				<a
					class="plain text-xs text-gray-400 dark:text-gray-600"
					href="/projects"
				>
					Projects
				</a>
			</li>
		</ul>
		<p class="inline font-mono text-xs text-gray-400 dark:text-gray-600">
			Copyright &copy; {new Date().getFullYear()} {AppConfig.site_name}
		</p>
	</div>
</footer>