---
import { Download } from '@phosphor-icons/react';
import Title from '../ui/Title.astro';

const images = [
  {
    alt: 'Picture Four',
    src: '/assets/press-kit/picture_four.jpg',
  },
  {
    alt: 'Picture Five',
    src: '/assets/press-kit/picture_five.jpg',
  },
  {
    alt: 'Picture Three',
    src: '/assets/press-kit/picture_three.jpg',
  },

  {
    alt: 'Picture Two',
    src: '/assets/press-kit/picture_two.JPG',
  },
];

---

      <div>
        <Title title="📸 Portrait Picture" level={3} className="text-3xl" />
        <p>
          Use either of the following pictures for portrait, please do not crop
          or edit the pictures.
        </p>
      </div>
      <div class="flex gap-2">
        {images.map((image) => (
          <div
            style={{
              backgroundImage: `url(${image.src})`,
            }}
            class="group h-[150px] w-[150px] rounded-lg bg-cover bg-center bg-no-repeat "
          >
            <a
              href={image.src}
              target="_blank"
              class="invisible m-2 flex h-6 w-6 cursor-pointer items-center justify-center rounded-full bg-gray-800 group-hover:visible plain"
            >
              <Download client:load size={14} class="text-white" />
            </a>
          </div>
        ))}
      </div>